* {
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  color: white;
  margin: 0;
}

.homepage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.title {
  font-size: 48px;
  margin: 0;
  padding: 40px;
  text-shadow: 2px 2px 2px #979797;
}

.header {
  text-align: center;
}

.nav {
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px #979797;
}

.nav:hover {
  color: yellow;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px 2px #979797;
}

.input {
  display: block;
  padding: 10px;
  margin: 5px;
  width: 30%;
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
}

.button {
  padding: 10px;
  margin: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
}

.button:hover {
  background-color: yellow;
}

.logout-container {
  display: flex;
  justify-content: flex-end;
}

.form-page {
  margin: 40px;
}